.landing {
	position: relative;
	background: url("./img/showcase.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -24px;
	margin-bottom: -50px;
	font-family: 'Courier New', Courier, monospace;
}

.landing-inner {
	padding-top: 80px;
}

.navbar {
	font-family: 'Courier New', Courier, monospace;
}

.login {
	position: relative;
	background: url("./img/coffee.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -24px;
	margin-bottom: -50px;
	color: whitesmoke;
	font-family: 'Courier New', Courier, monospace;
}

.login-inner {
	padding-top: 80px;
}

.register {
	position: relative;
	background: url("./img/burger.jpeg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -24px;
	margin-bottom: -50px;
	color: whitesmoke;
	font-family: 'Courier New', Courier, monospace;
}

.register-inner {
	padding-top: 80px;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card-form {
	opacity: 0.9;
}

.latest-profiles-img {
	width: 40px;
	height: 40px;
}

.form-control::placeholder {
	color: #bbb !important;
}

.profile-pic {
	max-width: 25%;
	height: auto;
}

.profile-header {
	background-color: rgba(0, 0, 0, 0.4);
}

.dashboard-bg {
	position: relative;
	background: url("./img/dashboard.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: auto;
	margin-top: -24px;
	font-family: 'Courier New', Courier, monospace;
}
.text-bg {
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.7);
}

.restaruant-pic {
	height: 160px;
	width: 160px;
}

.card {
	margin-bottom: 10px;
}

.logout {
	height: 100%;
	line-height: 200%;
	white-space: nowrap;
}
.card-display {
	margin-top: 5px;
}

.comment-pic {
	width: 100%;
}

.footer {
	font-family: 'Courier New', Courier, monospace;
	bottom: 0px;
}

	

.card {
	background: #fff;
	color: black;
	height: 100;
	width: 100%;
	padding: 5px;
	font-size: 14px;
	flex: 1;
	border-bottom: 1px solid lightgray;
  }
  
  .profiles {
	  position: relative;
	  background: url("./img/allfood2.jpeg") no-repeat;
	  background-size: cover;
	  background-position: center;
	  height: 100vh;
	  margin-top: -24px;
	margin-bottom: -50px;
	color: black;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
  }
  
  .card > img {
	height: 90px;
	width: 90px;
  }
  
  .title {
	font-size: 20px;
  }
  
  .muted {
	font-size: 12;
	color: rgb(145, 144, 144);
  }
  
  .form-flex {
	flex: 1 0 auto;
	height: 20px;
  }
  
  .search-btn {
	color: grey;
	height: 200px;
  }
  
  body {
	background-color: lightgray;
  }
  .card {
	background: #fff;
	height: 100;
	width: 100%;
	padding: 5px;
	font-size: 14px;
	flex: 1;
	font-family: "Courier New", Courier, monospace;
  }
  
  
  .card > img {
	height: 90px;
	width: 90px;
  }
  
  .title {
	font-size: 20px;
  }
  
  .userpicsize {
	height: 150px;
  }
  
  .titlename {
	font-size: 40px;
  }
  
  .numberof {
	margin-bottom: 0px;
  }
  
  .muted {
	font-size: 12;
	color: rgb(145, 144, 144);
  }
  
  .form-flex {
	flex: 1 0 auto;
	height: 20px;
  }
  
  .search-btn {
	color: grey;
	height: 200px;
  }
  
  .d-flex {
	font-family: "Courier New", Courier, monospace;
  }
  
  h1 {
	font-weight: bolder;
	color: black;
  }
  .whiteback {
	background-color: white;
	border: 2px solid darkgray;
	opacity: .9;
  }
  
  .deletebtn {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 3px solid black;
	border-radius: 100%;
	cursor: pointer;
	height: 30px;
	width: 30px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	}
	
	.editbtn {
		position: absolute;
		top: 10px;
		right: 50px;
		background: url("./img/editbutton.svg") no-repeat;
		background-size: cover;
		background-position: center;
		cursor: pointer;
		height: 30px;
		width: 30px;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		vertical-align: center;
		}
	
  
  .deletebtn:hover {
		color: red;
		border: 3px solid red;
	}

	.editbtn:hover{
		color: red;
		background: url("./img/editbutton-hover.png") no-repeat;
		background-size: cover;
		background-position: center;
		}
	
	#modal {
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    display:block;
    margin: 300px auto;
    background-color: #fefefe;
    border: 10px solid #0086F1;
    min-height: 150px;
    width: 60%;
    text-align: center;
    border-radius: 25px;
}

.modal-content-edit {
	display:block;
	margin: 300px auto;
	background-color: #fefefe;
	border: 10px solid #0086F1;
	min-height: 150px;
	width: 40%;
	text-align: center;
	border-radius: 25px;
}

.modal-content-delete {
	display:block;
	margin: 300px auto;
	background-color: #fefefe;
	border: 10px solid #0086F1;
	min-height: 150px;
	width: 40%;
	text-align: center;
	border-radius: 25px;
}

.hide-modal {
	display: none;
}

.show-modal {
	display: inline-block;
}

.message {
	color: black;
	margin: 20px auto;
}

.btngroup {
		width: 40%;
		margin: 10px auto;
}
.btn-left {
	float: left;
}

.btn-right {
	float: right;
}

.error {
	color: red;
	font-size: 18px;
	font-weight: bold;
}

@media screen and (max-width: 1700px) {
	.btngroup {
		width: 60%;
	}
}

@media screen and (max-width: 1200px) {
	.modal-content-edit {
			margin: 100px auto;
			background-color: #fefefe;
			min-height: 400px;
			width: 70%;
	}
}

@media screen and (max-width: 740px) {
	.modal-content {
			margin: 100px auto;
			background-color: #fefefe;
			min-height: 500px;
			width: 90%;
	}

	.modal-content-edit {
		margin: 100px auto;
		background-color: #fefefe;
		min-height: 400px;
		width: 90%;
	}

	.btngroup {
		width: 70%;
	}
}