.card {
  background: #fff;
  height: 100;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  flex: 1;
  border-bottom: 1px solid lightgray;
  font-family: "Courier New", Courier, monospace;
}

.card > img {
  height: 90px;
  width: 90px;
}

.title {
  font-size: 20px;
}

.userpicsize {
  height: 150px;
}

.titlename {
  font-size: 40px;
}

.numberof {
  margin-bottom: 0px;
}

.muted {
  font-size: 12;
  color: rgb(145, 144, 144);
}

.form-flex {
  flex: 1 0 auto;
  height: 20px;
}

.search-btn {
  color: grey;
  height: 200px;
}

.d-flex {
  font-family: "Courier New", Courier, monospace;
}
